body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.699),rgb(0, 0, 0)),url(bgimg2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: left;
  justify-content: space-between;
 }
.logo {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
 }
 .navbar ul li{
   list-style: none;
   display: inline-block;
   margin: 0 40px;
   font-size: large;
   position: relative;
 }
 .navbar ul li a{
   text-decoration: none;
   color: rgb(252, 246, 246);
   text-transform: uppercase;
 }
 .navbar ul li::after{
   content: '';
   height: 3px;
   width: 0   ;
   background: #009688;
   position: absolute;
   left: 0;
   bottom: -10px;
   transition: 0.25s;
 }
 .navbar ul li:hover::after{
   width: 100%;
 }
 .hdng{
  color: rgb(255, 255, 255);
  font-family: 'Roboto Mono', monospace;
  font-size: 55px;
  text-align: center;
 }
 .newhdng-ow{
  color: rgb(255, 255, 255);
  font-family: 'Roboto Mono', monospace;
  font-size: 35px;
 }
 .button {
  background-color: black;
  border: 2px solid rgb(6, 214, 247);
  color: rgb(5, 214, 250);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.button:hover{
  background-color: rgb(247, 159, 6);
  color: rgb(189, 20, 20);
  transition: 0.5s;
  border: 2px solid rgb(211, 10, 10);
}